tbody {
    font-family: 'Mitr';
}

td {
    font-family: 'Nunito';
}

th {
    font-family: 'Mitr';
}

.capitalize {
    text-transform: capitalize;
}

.done {
    color: #00b74a !important;
    text-decoration: none;
    font-family: 'Mitr';
}