{% extends 'base.html' %}

{% block body %}
<div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px; overflow-y: auto; scrollbar-width: thin;">  
  <table class="table mb-0">
    <thead>
      <tr>
        <th scope="col">Member</th>
        <th scope="col">Task</th>
        <th scope="col">Created At</th>
        <th scope="col">Priority</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
     {% include 'partials/all_task.html' %}
     {% include 'partials/all_task_done.html' %}
  </table>

</div>
{% endblock %}