<tbody id="all_task">
    {% if todos %}
    {% for todo in todos %}
    <tr class="fw-normal">
        <th>
            <span class="ms-2">{{ todo.member }}</span>
        </th>
        <td class="align-middle">
            <span class="capitalize">{{ todo.title }}</span>
        </td>
        <td class="align-middle">{{ todo.created_at|date:"d F Y H:i" }}</td>
        <td class="align-middle">
            <h6 class="mb-0">
                <span
                    class="{% if todo.priority == 'Low' %}badge bg-success{% elif todo.priority == 'Mid' %}badge bg-warning{% else %}badge bg-danger{% endif %}">
                    {{ todo.priority }} priority
                </span>
            </h6>
        </td>
        <td class="align-middle">
            <a onclick="upd('{{ todo.id }}');" data-mdb-toggle="tooltip" title="Mark Done"><i
                    class="fas fa-check text-success me-1"></i></a>
            <a onclick="edit_task('{{ todo.id }}');" data-mdb-toggle="tooltip" title="Edit Task"><i
                    class="fas fa-edit text-warning me-1"></i></a>
            <a onclick="del('{{ todo.id }}');" data-mdb-toggle="tooltip" title="Remove"><i
                    class="fas fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="5" class="text-center">No task available.</td>
    </tr>
    {% endif %}
</tbody>